In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("suzuki_parts.csv")
df

,name,type_number,price
0,"SUPERSEDED BY 0924714036 PLUG,OIL DRAIN",09247-14019 SUZUKI,5.60
1,"SUPERSEDED BY 0924810008 PLUG,DRAIN,10X7",09248-10003 SUZUKI,5.89
2,TDC PLUG,09248-14011 SUZUKI,2.92
3,BOLT,09116-06096 SUZUKI,2.26
4,BOLT,09116-06121 SUZUKI,2.72
...,...,...,...
65629,"SUPERSEDED BY 1123541F00 UNION,CYL INLET",11235-38A01 SUZUKI,25.10
65630,"COVER COMP,SIDE",94420-25L10-QVP SUZUKI,144.34
65631,"COVER,SIDE COWL RH (WHITE)",94420-28K00-YWW SUZUKI,126.48
65632,SIDE COVER,94420-28K10-QEB SUZUKI,130.34
65633,SIDE COWLING COVER,94420-28K30-YWW SUZUKI,102.34

In [3]:
duplicated = df[df.duplicated]
duplicated

,name,type_number,price
3168,BRAKE LAMP SWITCH SPRING,09443-06005 SUZUKI,3.31
3169,SPRING,09443-06046 SUZUKI,2.92
3170,SPRING,09443-06073 SUZUKI,3.11
3171,"SUPERSEDED BY 5721121H01 GRIP,L",57211-21H00 SUZUKI,10.11
3172,SPRING,09443-08001 SUZUKI,2.92
...,...,...,...
65603,"MANUAL, OWNERS",99011-49H56-03A SUZUKI,80.95
65604,ECSTAR R5000 10W40 MINERAL OIL 55 GALLON DRUM,990A0-01E10-55G SUZUKI,1299.95
65605,NLA799995018153LRG,99950-18153-LRG SUZUKI,39.95
65623,NLA 799995015002XXL,99950-15002-XXL SUZUKI,49.95
65624,NLA799995016322LRG,99950-16322-LRG SUZUKI,3.28

In [4]:
duplicated.to_csv("duplicated.csv", index=False)